.header {
    display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 3rem;
}


.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
    /* margin-left: 4rem; */
}


.header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;

    letter-spacing: -0.04em;
}


.header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #81AFDD;
    margin-top: 1.5rem;
}


.header-content-input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}


.header-content-input input {
    background: #052D56;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--font-family);
    outline: none;

    /* font-style: normal;
    font-weight: normal; */
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    border: 2px solid var(--color-footer);

    flex: 2;
    width: 100%;
    min-height: 50px;
    padding: 0 1rem;
}


.header-content-input button {
    background: #FF4820;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #fff;

    flex: 0.6;
    width: 100%;
    min-height: 50px;
    outline: none;
    padding: 0 1rem;
    cursor: pointer;
    border: none;
}


.header-content-people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2rem;
}


.header-content-people img {
    width: 181.79px;
    height: 38px;
}


.header-content-people p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;

    color: #fff;
    margin: 0 0 0 1rem;
    text-align: center;
}


.header-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.header-image img {
    width: 85%;
    /* height: 80%; */
}


@media screen and (max-width: 1050px) {
    .header {
        flex-direction: column;
    }

    .header-content {
        margin: 0 0 3rem;
    }
}


/* @media screen and (max-width: 1100px) {
    .header {
        flex-direction: column;
    }

    .header-content {
        margin: 0 0 3rem;
    }
} */



@media screen and (max-width: 670px) {
    .header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .header p {
        font-size: 16px;
        line-height: 24px;
    }

    /* .gradient__text {
        line-height: 30%;
    } */

    .header-content {
        margin: 0 3rem 0;
    }

    .header-content h1 {
        width: 95%;
    }


    .header-content-people {
        flex-direction: column;
    }


    .header-content-people p {
        margin: 0;
    }


    .header-content-input input,
    .header-content-input button {
        font-size: 16px;
        line-height: 24px;
    }
}


@media screen and (max-width: 490px) {
    .header h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .header p {
        font-size: 14px;
        line-height: 24px;
    }


    .header-content-input input,
    .header-content-input button {
        font-size: 12px;
        line-height: 16px;
    }
}